<%= nested_form_for property, html: {class: 'form'} do |f| %>
  <div id="search-box" class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <hr>
        </div>
        <div class="col-sm-2 text-center">
          <div class="title"><%= action_name == "edit" ? t(:edit_property) : t(:new_property) %></div >
        </div>
        <div class="col-sm-5 hidden-xs">
          <hr>
        </div>
      </div>
    </div>
    <fieldset>
      <div class="col-sm-12">
        <%= f.label t(:name) %><br>
        <%= f.text_field :name %>
      </div>
    </fieldset>
    <div class="col-sm-4 hidden-xs">
      <hr>
    </div>
    <div class="col-sm-4 text-center">
      <div class="title button"><%= f.submit action_name == "edit" ? t(:edit) : t(:create) %></div >
    </div>
    <div class="col-sm-4 hidden-xs">
      <hr>
    </div>
  </div>
<% end %>