<%= render partial: "form", locals: {property: @property}%>
<div class="row product-index">
  <div class="col-xs-8">
    <b><%= t(:name).upcase %></b>
  </div>
  <div class="col-xs-4">
    <b><%= t(:actions).upcase %></b>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <% @properties.each do |property| %>
    <div class="col-xs-8">
      <%= property.name %>
    </div>
    <div class="col-xs-4">
      <%= link_to(edit_property_path(property)) do %>
        <i class='fa fa-pencil-square-o'></i>
      <% end %>
      <%= link_to( property, :confirm => 'Are you sure?', :method => :delete ) do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  <% end %>
</dvi>

