<div class="col-xs-12">
  <%= form.label t(:choices) %><br>
</div>
<div class="col-xs-12">
  
  <%= form.fields_for :option_choices do |o| %>
  <div class="row">
      <div class="col-xs-10">
        <%= o.text_field :value %>
      </div>
      <div class="col-xs-2">
        <%= o.link_to_remove do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
  </div>    
  <% end %>  
  
  <%= form.link_to_add t("add_choice"), :option_choices, class: "button title" %>
</div>