<%= render partial: "form", locals: {option: @option}%>
<div class="row product-index">
  <div class="col-xs-8">
    <b><%= t(:name).upcase %></b>
  </div>
  <div class="col-xs-4">
    <b><%= t(:actions).upcase %></b>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <% @options.each do |option| %>
    <div class="col-xs-8">
      <%= option.name %>
    </div>
    <div class="col-xs-4">
      <%= link_to(edit_option_path(option)) do %>
        <i class='fa fa-pencil-square-o'></i>
      <% end %>
      <%= link_to( option, :confirm => 'Are you sure?', :method => :delete ) do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  <% end %>
</dvi>

