<div class="container hidden-sm hidden-xs">
  <%= render "shared/menu" %>
</div>
<div class="container visible-sm visible-xs" style="position: relative;">
  <%= render "shared/mobile_menu" %>
</div>
<div class="container">
  <%= render "shared/head_link" %>
</div>
<div class="container visible-xs">
  <hr class="bold" style="background: white;">
</div>