<%= nested_form_for resource, html: {class: 'form images'} do |f| %>
  <div id="search-box" class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <hr>
        </div>
        <div class="col-sm-2 text-center">
          <div class="title"><%= t(:images) %></div >
        </div>
        <div class="col-sm-5 hidden-xs">
          <hr>
        </div>
      </div>
    </div>
    <fieldset>
      <div class="col-xs-12">
        <%= f.fields_for :images do |o| %>
        <div class="row">
            <div class="col-xs-10">
              <% unless o.object.new_record? %>
                <%= link_to(o.object.file.url) do %>
                  <%= image_tag(o.object.file.url(:thumb)) %>
                <% end %>
              <% else %>
                <%= o.file_field :file if o.object.new_record? %>
              <% end %>
            </div>
            <div class="col-xs-2">
              <%= o.link_to_remove do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
            <div class="col-xs-12">
              <hr class="grey">
            </div>
        </div>    
        <% end %>   
        <%= f.link_to_add t("add_images"), :images, class: "button title" %>
      </div>
    </fieldset>
    <div class="col-sm-4 hidden-xs">
      <hr>
    </div>
    <div class="col-sm-4 text-center">
      <div class="title button"><%= f.submit t(:edit) %></div >
    </div>
    <div class="col-sm-4 hidden-xs">
      <hr>
    </div>
  </div>
<% end %>