<div id="mobile-main-menu" class="row hide">
  <%= mobile_menu(@menu,@sub_menu) %>
</div>
<div class="row">
  <div id="toggle" class="pull-right">
    <a>
      <i class="fa fa-th-large"></i>
    </a>
  </div>
</div>
