<% if variant.new_record? %>
  <%= form_for variant, html: {class: 'form'} do |f| %>
    <div id="search-box" class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
          <div class="col-sm-2 text-center">
            <div class="title"><%= t(:new_variant) %></div >
          </div>
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
        </div>
      </div>
      <fieldset>
        <div class="col-sm-12">
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name %>
          <%= f.hidden_field :product_id %>
        </div>
      </fieldset>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <div class="title button"><%= f.submit t(:create) %></div >
      </div>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_for variant, html: {class: 'form'} do |f| %>
    <div id="search-box" class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
          <div class="col-sm-2 text-center">
            <div class="title"><%= t(:edit_variant)  %></div >
          </div>
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
        </div>
      </div>
      <fieldset>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label t(:name) %><br>
              <%= f.text_field :name %>
            </div>
            <div class="col-sm-12">
              <%= f.label t(:sku) %><br>
              <%= f.text_field :sku %>
            </div>
            <div class="col-sm-12">
              <%= f.label t(:description) %><br>
              <%= f.text_area :description %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label t(:master_price) %><br>
              <%= f.text_field :master_price %>
            </div>
            <div class="col-sm-12">
              <%= f.label t(:on_hand) %><br>
              <%= f.text_field :on_hand %>
            </div>
          </div>
        </div>
        <% if variant.values.present? %>
        <div class="col-xs-12">
          <%= f.label t(:variant_option) %>
          <div class="row">
            <%= f.fields_for :values do |o| %>
              <div class="col-sm-4">
                <%= o.label "#{o.object.valuable.name}" %><br>
                <%= o.select(:value, o.object.valuable.option_choices.map{|x| [x.value, x.id]} )%>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </fieldset>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <div class="title button"><%= f.submit t(:edit) %></div >
      </div>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
    </div>
  <% end %>
<% end %>