<h1>Options</h1>
<ul id="option_choices" class="resource-index">
<%= form.fields_for :variant_options do |o| %>
  <li class="row">
    <div class="resource">
    <% if  o.object.option.present? %>
      <%= o.label "#{o.object.option.label}"%>
      <% collection = o.object.option.option_choices.map{|c| [c.value,c.id] }%>
      <%= o.select :option_choice_id, collection, {}, {disabled: @disable_form} %>
    <% end %>
    </div>
  </li>
<% end %>
</ul>
