/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_tree .
 */
body{
  background-color: #bdc3c7 !important;
}
.container{
  max-width: 970px;
  background: white;
}
#body{
  padding: 15px;
}
hr.bold{
  border: 1px solid black;
  margin: 0px;
}
a.button{
  text-decoration: none !important;
  list-style: none;
  text-transform: uppercase;
  color: black;
}
div.text{
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
a.button.title{
  padding: 5px 10px 5px 10px;
}