.form{
  padding: 15px 0px 15px 0px;
  label{
    padding-right: 15px;
  }
  input,textarea,select{
    border: 1px solid gainsboro;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  textarea{
    height: 250px;
  }
  input[type="submit"]{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: 0px;
    width: 100%;
    text-transform: uppercase;
  }
  fieldset{
    padding: 15px 0px 15px 0px;
  }
}