ul.head{
  padding: 0px;
  margin: 0px;
  a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    li{
      display: block;
      list-style: none;
      padding: 20px 30px 20px 30px;
      margin: 0px;
      float: left;
    }
  }
}

ul.foot{
  padding: 0px;
  margin: 0px;  
  a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    li{
      display: block;
      list-style: none;
      padding: 20px 30px 20px 30px;
      margin: 0px;
      float: left;
    }
  }
}

li.red{
  background: #c0392b;
}
li.yellow{
  background: #f1c40f;
}
li.green{
  background: #2ecc71;
}
li.grey{
  background: #34495e;
}