#main-menu{
  a{
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    line-height: 60px;
    color: #ababab;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
  a.active{
    color: black;
  }
}
#sub-menu{
  a{
    font-size: 16px;
    padding: 0px 15px 0px 15px;
    line-height: 60px;
    color: #ababab;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
  a.active{
    color: black;
  }
}

#mobile-main-menu{
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  min-height: 100vh;
  width: 80%;
  max-width: 400px;
  background: black;
  a{
    display: block;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    line-height: 45px;
    color: #ababab;
    text-decoration: none;
  }
  a.active{
    color: white;
  }
  a.mobile-sub-menu{
    margin-left: 30px;
    font-size: 14px;
    line-height: 30px;
  }
}

  #toggle{
    a{
      color: black;
    }
    i{
      padding: 15px;
      font-size: 24px;
    }
  }
