ul.side-menu{
  padding: 0px;
  margin: 0px;
  background: #428bca;
  li{
    list-style: none;
    padding: 20px 30px 20px 30px;
    margin: 0px;
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 2px;
    }
  }
}