<% if product.new_record? %>
  <%= form_for product, html: {class: 'form'} do |f| %>
    <div id="search-box" class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
          <div class="col-sm-2 text-center">
            <div class="title"><%= t(:new_product)  %></div >
          </div>
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
        </div>
      </div>
      <fieldset>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label t(:name) %><br>
              <%= f.text_field :name %>
            </div>
            <div class="col-sm-12">
              <%= f.label t(:sku) %><br>
              <%= f.text_field :sku %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label t(:master_price) %><br>
              <%= f.text_field :master_price %>
            </div>
            <div class="col-sm-12">
              <%= f.label t(:on_hand) %><br>
              <%= f.text_field :on_hand %>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <div class="title button"><%= f.submit t(:create) %></div >
      </div>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_for product, html: {class: 'form'} do |f| %>
    <div id="search-box" class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
          <div class="col-sm-2 text-center">
            <div class="title"><%= t(:edit_product)  %></div >
          </div>
          <div class="col-sm-5 hidden-xs">
            <hr>
          </div>
        </div>
      </div>
      <fieldset>
        <% case action_name %>
          <% when "edit" %>
            <%= render partial: "products/full_fields",locals: {f: f} %>
          <% when "options" %>
            <%= render partial: "products/values_fields",locals: {f: f} %>
          <% when "properties" %>
            <%= render partial: "products/values_fields",locals: {f: f} %>
        <% end %>
      </fieldset>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <div class="title button"><%= f.submit t(:edit) %></div >
      </div>
      <div class="col-sm-4 hidden-xs">
        <hr>
      </div>
    </div>
  <% end %>
<% end %>