<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-12">
      <%= f.label t(:name) %><br>
      <%= f.text_field :name %>
    </div>
    <div class="col-sm-12">
      <%= f.label t(:sku) %><br>
      <%= f.text_field :sku %>
    </div>
    <div class="col-sm-12">
      <%= f.label t(:description) %><br>
      <%= f.text_area :description %>
    </div>
  </div>
</div>
<div class="col-sm-3">
  <div class="row">
    <div class="col-sm-12">
      <%= f.label t(:master_price) %><br>
      <%= f.text_field :master_price %>
    </div>
    <div class="col-sm-12">
      <%= f.label t(:on_hand) %><br>
      <%= f.text_field :on_hand %>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <%= f.label t(:options) %><br>
  <%= f.select :option_ids,
    Option.all.map { |option| [option.name, option.id] },
    { include_blank: true },
    { class: 'chosen-select', multiple: true }
  %>
</div>
<div class="col-sm-12">
  <%= f.label t(:properties) %><br>
  <%= f.select :property_ids,
    Property.all.map { |property| [property.name, property.id] },
    { include_blank: true },
    { class: 'chosen-select', multiple: true }
  %>
</div>