<%= search_form_for @q, class: "form" do |f| %>
<div id="search-box" class="row">
  <div class="col-sm-5 hidden-xs">
    <hr>
  </div>
  <div class="col-sm-2 text-center">
    <div class="title"><%= t(:search) %></div >
  </div>
  <div class="col-sm-5 hidden-xs">
    <hr>
  </div>
  <fieldset>
    <div class="col-sm-12">
      <%= f.label :name_cont, "Name" %><br>
      <%= f.text_field :name_cont %>
    </div>
  </fieldset>
  <div class="col-sm-4 hidden-xs">
    <hr>
  </div>
  <div class="col-sm-4 text-center">
    <div class="title button"><%= f.submit t(:search) %></div >
  </div>
  <div class="col-sm-4 hidden-xs">
    <hr>
  </div>
</div>
<% end %>