<%= f.fields_for :values do |value| %>
  <% if value.object.valuable_type == action_name.titleize.singularize %>
    <div class="col-xs-12">
      <%= value.label "#{value.object.valuable_name.titleize }"%></br>
      <%= value.text_field :value %>
    </div>
  <% end %>
<% end %>