<%= render "products/search" %>
<div class="row product-index">
  <div class="col-xs-8">
    <b><%= t(:name).upcase %></b>
  </div>
  <div class="col-xs-4">
    <b><%= t(:actions).upcase %></b>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <% @products.each do |product| %>
    <div class="col-xs-8">
      <%= product.name %>
    </div>
    <div class="col-xs-4">
      <%= link_to(edit_product_path(product)) do %>
        <i class='fa fa-pencil-square-o'></i>
      <% end %>
      <%= link_to(edit_product_path(product)) do %>
        <i class="fa fa-files-o"></i>
      <% end %>
      <%= link_to( product, :confirm => 'Are you sure?', :method => :delete ) do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  <% end %>
</dvi>