<%= render partial: "form.html.erb", locals: {product: @product} %>
<% content_for :foot do %>
  <div class="col-xs-12 foot">
      <ul class="foot">
        <div class="pull-left">
          <li class="grey"><%= link_to "BACK", products_path %></li>
      </div>
    </ul>
  </div>
<% end %>