<%= render partial: "/variants/form", locals: {variant: @variant} %>
<div class="row product-index">
  <div class="col-xs-8">
    <b><%= t(:name).upcase %></b>
  </div>
  <div class="col-xs-4">
    <b><%= t(:actions).upcase %></b>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <% @variants.each do |variant| %>
    <div class="col-xs-8">
      <%= variant.product.name %> <%= variant.name %>
    </div>
    <div class="col-xs-4">
      <%= link_to(edit_variant_path(variant)) do %>
        <i class='fa fa-pencil-square-o'></i>
      <% end %>
      <%= link_to(edit_variant_path(variant)) do %>
        <i class="fa fa-files-o"></i>
      <% end %>
      <%= link_to( variant, :confirm => 'Are you sure?', :method => :delete ) do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  <% end %>
</dvi>