<!DOCTYPE html>
<html>
<head>
  <title>StartUp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= render "shared/header" %>
  </div>
  <div id="body" class="container">
    <%= yield %>
  </div>
</body>
</html>